In [4]:
'''the problem is:
+)generate an array of size 1 million,2 ; find the centroid and append the distance of each point from the centroid
+)find the 3 minimum points from the centroid

'''
import numpy as np
arr=np.random.rand(1000000,2)
arr.shape

(1000000, 2)

In [7]:
'''centroid is found by finding the mean of x and mean of y, that is the centroid point. then the eucluian distance 
from this centroid is the second objective'''

centroid=np.mean(arr,axis=0)
print(centroid)
centroid.shape

[0.49996907 0.49961004]

(2,)

In [8]:
'''now used broadcasting, as the order of the centroid is (1,2) and the order of the arr is(1M,2)

so 
arr      = 1     2
centroid =1M     2

the final arr is of order (1M,2)


'''

print((arr-centroid).shape) # (xi-xm and xi-ym)

(1000000, 2)

In [9]:
dist=  np.sqrt(np.sum((arr-centroid)**2,axis=1))#axis 1 in the sense , row wise operation is performed
dist.shape
print(dist)

[0.44452464 0.41143918 0.13327986 ... 0.39371214 0.47416394 0.42406806]

In [10]:
arr=np.column_stack((arr,dist))
print(arr.shape)

(1000000, 3)

In [12]:
arr[dist.argsort()][:3]

array([[4.99798669e-01, 4.99479785e-01, 2.14482161e-04],
       [4.99092882e-01, 5.00146314e-01, 1.02727007e-03],
       [4.98878573e-01, 4.99943604e-01, 1.14036685e-03]])

# now instead of centroid , calculate the minimum distance fromthe user entered data point

In [ ]:
b=map(list(int,input().split()))

In [28]:

import pandas as pd

df=pd.read_csv('Diminos_data.csv')
df.head()

   order_id      order_placed_at          order_delivered_at
0   1523111  2023-03-01 00:00:59  2023-03-01 00:18:07.443132
1   1523112  2023-03-01 00:03:59  2023-03-01 00:19:34.925241
2   1523113  2023-03-01 00:07:22  2023-03-01 00:22:28.291385
3   1523114  2023-03-01 00:07:47  2023-03-01 00:46:19.019399
4   1523115  2023-03-01 00:09:03  2023-03-01 00:25:13.619056

In [29]:
df['order_placed_at']=pd.to_datetime(df['order_placed_at'])

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            15000 non-null  int64
 1   order_placed_at     15000 non-null  datetime64[ns]
 2   order_delivered_at  15000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 351.7+ KB

In [31]:
df['order_delivered_at']=pd.to_datetime(df['order_delivered_at'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            15000 non-null  int64
 1   order_placed_at     15000 non-null  datetime64[ns]
 2   order_delivered_at  15000 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1)
memory usage: 351.7 KB

In [32]:
df.head()

   order_id     order_placed_at         order_delivered_at
0   1523111 2023-03-01 00:00:59 2023-03-01 00:18:07.443132
1   1523112 2023-03-01 00:03:59 2023-03-01 00:19:34.925241
2   1523113 2023-03-01 00:07:22 2023-03-01 00:22:28.291385
3   1523114 2023-03-01 00:07:47 2023-03-01 00:46:19.019399
4   1523115 2023-03-01 00:09:03 2023-03-01 00:25:13.619056

In [33]:

#day of the month
df['order_placed_at'].dt.day

0         1
1         1
2         1
3         1
4         1
         ..
14995    27
14996    27
14997    27
14998    27
14999    27
Name: order_placed_at, Length: 15000, dtype: int64

In [34]:
#for month
df['order_placed_at'].dt.month

0        3
1        3
2        3
3        3
4        3
        ..
14995    3
14996    3
14997    3
14998    3
14999    3
Name: order_placed_at, Length: 15000, dtype: int64

In [35]:
df['order_placed_at'].dt.time

0        00:00:59
1        00:03:59
2        00:07:22
3        00:07:47
4        00:09:03
           ...
14995    23:37:05
14996    23:47:38
14997    23:50:16
14998    23:52:44
14999    23:58:20
Name: order_placed_at, Length: 15000, dtype: object

In [36]:
df['order_placed_at'].dt.hour

0         0
1         0
2         0
3         0
4         0
         ..
14995    23
14996    23
14997    23
14998    23
14999    23
Name: order_placed_at, Length: 15000, dtype: int64

In [37]:
df['order_placed_at'].dt.minute

0         0
1         3
2         7
3         7
4         9
         ..
14995    37
14996    47
14997    50
14998    52
14999    58
Name: order_placed_at, Length: 15000, dtype: int64

In [38]:
df['order_placed_at'].dt.second

0        59
1        59
2        22
3        47
4         3
         ..
14995     5
14996    38
14997    16
14998    44
14999    20
Name: order_placed_at, Length: 15000, dtype: int64

In [40]:
'''df['less_than_30']=df['order_delivered_at'].dt.day-df['order_placed_at'].dt.minute<30
(df['less_than_30']='True').count()
'''

"df['less_than_30']=df['order_delivered_at'].dt.day-df['order_placed_at'].dt.minute<30\n(df['less_than_30']='True').count()\n"

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            15000 non-null  int64
 1   order_placed_at     15000 non-null  datetime64[ns]
 2   order_delivered_at  15000 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1)
memory usage: 351.7 KB

In [42]:
'''df['less_than_30'].str.replace('True','1')
df['less_than_30'].str.replace('False','0')
df['less_than_30'].astype('int')'''

"df['less_than_30'].str.replace('True','1')\ndf['less_than_30'].str.replace('False','0')\ndf['less_than_30'].astype('int')"

In [43]:
#week of the year
df['order_placed_at'].dt.week

<ipython-input-43-1fddd04b3f2c>:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['order_placed_at'].dt.week

0         9
1         9
2         9
3         9
4         9
         ..
14995    13
14996    13
14997    13
14998    13
14999    13
Name: order_placed_at, Length: 15000, dtype: int64

In [44]:
df['order_placed_at'].dt.isocalendar()

       year  week  day
0      2023     9    3
1      2023     9    3
2      2023     9    3
3      2023     9    3
4      2023     9    3
...     ...   ...  ...
14995  2023    13    1
14996  2023    13    1
14997  2023    13    1
14998  2023    13    1
14999  2023    13    1

[15000 rows x 3 columns]

In [47]:
#week of the month
df['order_placed_at'].dt.week -(9-1)

<ipython-input-47-635bd88b0889>:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['order_placed_at'].dt.week//4

0        2
1        2
2        2
3        2
4        2
        ..
14995    3
14996    3
14997    3
14998    3
14999    3
Name: order_placed_at, Length: 15000, dtype: int64

In [48]:
df['order_placed_at'].dt.dayofweek
# it returns the day count starting from 0

0        2
1        2
2        2
3        2
4        2
        ..
14995    0
14996    0
14997    0
14998    0
14999    0
Name: order_placed_at, Length: 15000, dtype: int64

In [50]:
df['order_placed_at'].dt.day_name()

0        Wednesday
1        Wednesday
2        Wednesday
3        Wednesday
4        Wednesday
           ...
14995       Monday
14996       Monday
14997       Monday
14998       Monday
14999       Monday
Name: order_placed_at, Length: 15000, dtype: object

In [51]:
df['day_of_order']=df['order_placed_at'].dt.day_name()

df.head()

   order_id     order_placed_at         order_delivered_at day_of_order
0   1523111 2023-03-01 00:00:59 2023-03-01 00:18:07.443132    Wednesday
1   1523112 2023-03-01 00:03:59 2023-03-01 00:19:34.925241    Wednesday
2   1523113 2023-03-01 00:07:22 2023-03-01 00:22:28.291385    Wednesday
3   1523114 2023-03-01 00:07:47 2023-03-01 00:46:19.019399    Wednesday
4   1523115 2023-03-01 00:09:03 2023-03-01 00:25:13.619056    Wednesday

In [52]:
df['day_of_order']

0        Wednesday
1        Wednesday
2        Wednesday
3        Wednesday
4        Wednesday
           ...
14995       Monday
14996       Monday
14997       Monday
14998       Monday
14999       Monday
Name: day_of_order, Length: 15000, dtype: object

In [54]:
df['day_of_order'].plot(kind='count')

ValueError: count is not a valid plot kind

In [55]:
df['order'].value_counts()

Thursday     2280
Wednesday    2259
Monday       2256
Friday       2223
Saturday     2209
Sunday       2191
Tuesday      1582
Name: day_of_order, dtype: int64

In [63]:
df['day_of_order'].value_counts().plot(kind=' bar')

ValueError:  bar is not a valid plot kind